@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vargak\/playground\/ssr\/stylesheet\/scss\/_reset\.scss}line{font-family:\000031}}
body, html {
  margin: 0;
  padding: 0;
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vargak\/playground\/ssr\/stylesheet\/scss\/_reset\.scss}line{font-family:\000037}}
* {
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vargak\/playground\/ssr\/stylesheet\/scss\/_page\.scss}line{font-family:\000031}}
.page {
  background: lightgray;
  height: 100%;
  width: 80%;
  margin: auto;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vargak\/playground\/ssr\/stylesheet\/scss\/_page\.scss}line{font-family:\000038}}
  .page header {
    background: gray;
    text-align: center;
    padding: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vargak\/playground\/ssr\/stylesheet\/scss\/_page\.scss}line{font-family:\0000315}}
  .page section.content {
    padding: .5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vargak\/playground\/ssr\/stylesheet\/scss\/_page\.scss}line{font-family:\0000320}}
  .page footer {
    background: gray;
    padding: 2em;
    position: absolute;
    width: 100%;
    bottom: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vargak\/playground\/ssr\/component\/search\/_search\.scss}line{font-family:\000032}}
.search-bar input {
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vargak\/playground\/ssr\/component\/search\/_search\.scss}line{font-family:\000036}}
.search-bar button {
  float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vargak\/playground\/ssr\/component\/search\/_search\.scss}line{font-family:\0000310}}
.search-bar a {
  text-decoration: none;
  color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vargak\/playground\/ssr\/component\/search\/_search\.scss}line{font-family:\0000315}}
.search-bar ul {
  padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vargak\/playground\/ssr\/component\/search\/_search\.scss}line{font-family:\0000318}}
  .search-bar ul li {
    list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vargak\/playground\/ssr\/component\/search\/_search\.scss}line{font-family:\0000321}}
    .search-bar ul li:hover {
      background: darkgray; }

/*# sourceMappingURL=main.css.map */
