.search-bar {
  input {
    width: 100%;
  }

  button {
    float: right;
  }

  a {
    text-decoration: none;
    color: black;
  }

  ul {
    padding: 0;

    li {
      list-style: none;

      &:hover {
        background: darkgray;
      }
    }
  }
}