.page {
  background: lightgray;
  height: 100%;
  width: 80%;
  margin: auto;
  position: relative;

  header {
    background: gray;
    text-align: center;
    padding: 1em;
  }

  section {
    &.content {
      padding: .5em;
    }
  }

  footer {
    background: gray;
    padding: 2em;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}